* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --ff: "Inter", sans-serif;
 
  --title: 700 24px/32px var(--ff);
  --label: 600 16px/20px var(--ff);
  --paragraph: 500 16px/20px var(--ff);
  --link: 500 14px/16px var(--ff);
}

body {
  background-color: var(--background-primary);
}

img {
  object-fit: cover;

}